<footer class="footer-area">
  <div class="footer-top_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-widgets_area text-center p-0">
            <div class="logo">
              <a routerLink="/">
                <img src="assets/images/logo/2.svg" alt="Footer Logo">
              </a>
            </div>
            <p class="short-desc font-style_italic">
              "Royal Bloomaa – Where every fragrance highlights your individuality. Find your perfect scent today!"
            </p>
            <div class="social-link">
              <ul>
                <li class="facebook">
                  <a href="https://www.facebook.com" target="_blank" title="Facebook">
                    <i class="lastudioicon-b-facebook"></i>
                  </a>
                </li>
                <li class="twitter">
                  <a href="https://twitter.com" target="_blank" title="Twitter">
                    <i class="lastudioicon-b-twitter"></i>
                  </a>
                </li>
                <li class="instagram">
                  <a href="https://www.instagram.com/royalbloomaa" target="_blank" title="Instagram">
                    <i class="lastudioicon-b-instagram"></i>
                  </a>
                </li>
                <li class="vimeo">
                  <a href="https://vimeo.com/" target="_blank" title="Vimeo">
                    <i class="lastudioicon-b-vimeo"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row footer-widgets_wrap">
            <div class="col-lg-3 col-sm-4">
              <div class="footer-widgets_area">
                <div class="footer-widgets">
                  <ul>
                    <li><a routerLink="/about"><span>About Us</span></a></li>
                    <li><a routerLink="/contact"><span>Help Center</span></a></li>
                    <li><a routerLink="/privacy-policy"><span>Privacy Policy</span></a></li>
                    <li><a routerLink="/terms"><span>Terms & Conditions</span></a></li>
                    <li><a routerLink="/refund"><span>Exchange & Refund Policy</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="footer-widgets_area">
                <div class="footer-widgets">
                  <ul>
                    <li><a routerLink="/shop"><span>Perfume</span></a></li>
                    <li><a routerLink="/shop"><span>Attar</span></a></li>
                    <li><a routerLink="/shop"><span>Reed Diffuser</span></a></li>
                    <li><a routerLink="/shop"><span>Car Perfume</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="footer-widgets_area">
                <div class="footer-widgets">
                  <ul>
                    <li><a routerLink="/shop"><span>Body Mist</span></a></li>
                    <li><a routerLink="/shop"><span>Scented Candles</span></a></li>
                    <li><a routerLink="/shop"><span>Solid Perfume</span></a></li>
                    <li><a routerLink="/shop"><span>Room Spray</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer-widgets_area">
                <div class="footer-widgets">
                  <ul>
                    <li><a href="javascript:void(0)"><span>Monday - Sunday: 24/7</span></a></li>
                    <li><a href="javascript:void(0)"><span>support&#64;royalbloomaa.com</span></a></li>
                    <li><a href="javascript:void(0)"><span>(+91) 96346 - 11069</span></a></li>
                    <li class="line-height-1">
                      <a href="javascript:void(0)">
                        <span>II/3 Rakabganj Compound Rakabganj Agra 282001 India</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom_area bg-bokara_grey">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright">
            <span>&copy; {{currentYear}} Royal Bloomaa 
              <a routerLink="/">All rights reserved</a>
              <a href="#" target="_blank">Designed By Mayank Rathore</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> 